<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lsu.chicken.room.entity.mapper.TagMapper">
    <resultMap id="tag" type="cn.lsu.chicken.room.entity.Tag">
        <!--<result column="id" property="id"/>-->
        <!--<result column="name" property="name"/>-->
    </resultMap>

    <insert id="addEntity" parameterType="cn.lsu.chicken.room.entity.Tag">
          INSERT INTO tag VALUES(#{id},#{name})
    </insert>

    <update id="updateEntity" parameterType="cn.lsu.chicken.room.entity.Tag">
        UPDATE tag
        <set>
            name = #{name}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteEntityById" parameterType="String">
        DELETE from tag where id = #{id}
    </delete>

    <select id="getEntity" parameterType="String" resultMap="tag">
        SELECT * FROM tag WHERE id = #{id}
    </select>

    <select id="listEntity" resultMap="tag">
        SELECT * FROM tag
    </select>

    <select id="listEntityByPage" resultMap="tag">
        SELECT * FROM tag LIMIT #{offset},#{size}
    </select>

    <select id="count" resultType="Long">
      SELECT COUNT(id) FROM tag;
    </select>

    <select id="judgeExistsByIdAndName" resultType="Boolean">
        SELECT EXISTS (SELECT id FROM tag WHERE id = #{id} and name = #{name})
    </select>

    <select id="judgeExistsByName" parameterType="String" resultType="Boolean">
        SELECT EXISTS (SELECT id FROM tag WHERE name = #{name})
    </select>
</mapper>